.category {
    header {
        background: white;
        padding: 2rem;
        border-bottom: 1px solid rgba(0,0,0,.8);
    
        h1 {
            margin: 0;
            color: rgba(0,0,0,.8);
            text-align: center;
            font-weight: 400;
    
            span {
                font-weight: 300;
                font-size: 1.3rem;
                display: block;
            }
    
            &[data-skeleton]:empty {
                width: 7rem;
                height: 1.3rem;
    
                @include skeleton;
            }
        }
    
        &.image {
            border-bottom: 1px solid rgba(0,0,0,.8);
            min-height: 155px;
            background-position: bottom right;
            background-size: 100%;
            background-repeat: no-repeat;
    
            h1 {
                text-align: left;
                color: rgba(0,0,0,.8);
                font-size: 1.5rem;
            }
        }
    }
    
    main {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        & > * {
            display: block;
            background-color: white;
            flex-basis: 50%;
            max-width: 50%;
            flex-grow: 1;
            margin: 0 0 1px;
            padding: .5rem;
            box-shadow: inset 0 -1px 0 0 #e4dfd9;
            text-decoration: none;
            color: rgba(0,0,0,.8);

            &.blank {
                width: 100%;
                max-width: 100%;

                h3,p {
                    text-align: center;
                }
            }

            [data-image] {
                img {
                    width: 100%;
                    border-radius: .25rem;
                }

                &:empty {
                    width: 100%;
                    padding-top: 100%;
                    position: relative;
        
                    @include skeleton_img;
                }
            }

            [data-name] {
                margin: 0;
                padding: 0;
                text-align: center;
                line-height: 3rem;
                font-weight: 400;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &:empty {
                    width: 60%;
                    height: 3.3rem;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include skeleton_flex;
                }
            }

            [data-price] {
                margin: 0;
                padding: 0;
                font-weight: 300;
                text-align: center;

                &:empty {
                    width: 33%;
                    height: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include skeleton_flex_thin;
                }
            }

            &:nth-child(odd) {
                box-shadow: inset -1px -1px 0 0 #e4dfd9;
                &:last-child {
                    box-shadow: inset -1px 0 0 0 #e4dfd9;
                }
            }

            &:first-child:last-child {
                box-shadow: none;
            }
        }
    }
}