@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.checkout {
  .spinner {
    span {
      visibility: hidden;
    }
  }

  .spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.6s linear infinite;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $brown;

    .bar {
      position: fixed;
      min-height: 3rem;
      padding: 0.6rem 0.8rem;
      top: 0;
      left: 0;
      background: $brown;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
    }

    svg {
      width: 1.5rem;
      fill: $blue;
      stroke: $blue;
    }

    img {
      max-width: 3rem;
    }

    a {
      display: flex;
      color: $blue;
      text-decoration: none;
      justify-content: flex-start;
      align-items: center;
    }
  }

  main {
    padding-top: 5rem;
  }

  h1 {
    padding: 0 1rem;
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
  }

  .buttongroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    span {
      background-color: transparent;
      border: 1px solid brown;
      padding: 1.5rem 1rem;
      font-size: 1rem;
      font-weight: 500;
      width: 40%;
      align-self: stretch;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;

        &:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &:last-child {
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;

        &:not(:first-child) {
          border-left: 0;
        }
      }
    }
  }

  .deliversto {
    text-align: center;
    padding: 1rem 1rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: 1px solid $brown;
    margin: 0 1rem;
    position: relative;

    & > p {
      margin: 0;
      padding-bottom: 1rem;

      span {
        color: $blue;
        letter-spacing: 0.1rem;

        &:after {
          border-style: solid;
          border-width: 0.1em 0.1em 0 0;
          border-color: $blue;
          content: "";
          display: inline-block;
          height: 0.3em;
          left: 0.15em;
          position: relative;
          top: 0.3rem;
          transform: rotate(135deg);
          vertical-align: top;
          width: 0.3em;
          margin-left: 0.4rem;
        }
      }
    }

    label {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.3s linear, opacity 0.3s linear, margin 0.15s linear;

      .hint {
        position: absolute;
        top: 6px;
        left: 0.5rem;
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.7);
      }

      input {
        padding: 1.6rem 0.5rem 0.5rem 0.5rem;
        font-size: 1.2rem;
        font-weight: 300;
        border-radius: 0.6rem;
        border: 1px solid black;
        color: rgba(0, 0, 0, 0.7);
        width: 75%;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px $blue;
        }
      }

      button {
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translate(-120%, -50%);
        border: 0;
        background: transparent;
        color: $blue;
        font-size: 1.2rem;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      a {
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        color: $brown;
      }

      & + .error {
        display: none;
      }

      &.show {
        max-height: 100px;
        margin-bottom: 1.5rem;
        opacity: 1;
        overflow: visible;
        transition: max-height 0.3s linear, opacity 0.3s linear 0.15s, margin 0.15s linear 0.15s;

        & + .error {
          display: block;
        }
      }
    }

    .error {
      position: absolute;
      bottom: 0.3rem;
      left: 1rem;
      width: 100%;
      text-align: left;
      font-size: 12px;
      color: red;
    }
  }

  h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .delivery {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba($brown, 0.2);
    border-radius: 0.8rem;
    padding: 1.5rem;

    &[data-ship="local"] {
      display: none;

      &.show {
        display: flex;
      }
    }

    strong {
      font-weight: 500;
      font-size: 1rem;
      display: block;

      & + span {
        font-weight: 400;
        font-size: 0.8rem;
        color: rgba($brown, 0.5);
      }
    }

    & > span {
      font-size: 1rem;
      font-weight: 300;
    }

    &.selected {
      border-color: $blue;
      box-shadow: 0 0 0 1px $blue;
    }
  }

  .continue {
    justify-content: center;
    align-items: center;
    align-self: start;
    padding: 1rem;

    h4 {
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    button {
      @include button;
      padding: 1rem;
      background-color: $red;
      margin: 0;
      position: relative;
    }

    &.show {
      display: flex;
    }
  }

  .help {
    padding: 2rem 1rem;
    border-top: 1px solid rgba($brown, 0.5);
    margin-top: 3rem;
    border-bottom: 1px solid rgba($brown, 0.5);

    h4 {
      font-size: 1.3rem;
      line-height: 1.3;
      margin: 0;
    }
  }

  .footnotes {
    background-color: rgba($brown, 0.17);
    color: rgba($brown, 0.5);
    padding: 1rem;

    small {
      font-size: 0.8rem;
    }
  }
}
