@mixin skeleton {
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        border-radius: 100vw;
        animation: inout 1s infinite;
        opacity: 1;
        transition: opacity .44s linear;
    }
}